@using BewerbungMasterApp.Models
@using BewerbungMasterApp.Services
@inject IJsonService JsonService

<div class="text-end mb-3">
    <button title="Add new entry" class="btn btn-primary" @onclick="ToggleForm">Add Job +</button>
</div>

@if (showForm)
{
    <div class="card mb-3">
        <div class="card-body">
            <EditForm Model="@newJob" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <div class="mb-3">
                    <label for="position" class="form-label">Position</label>
                    <InputText id="position" @bind-Value="newJob.Position" class="form-control" />
                    <ValidationMessage For="@(() => newJob.Position)" />
                </div>
                <div class="mb-3">
                    <label for="company" class="form-label">Unternehmen</label>
                    <InputText id="company" @bind-Value="newJob.Company" class="form-control" />
                    <ValidationMessage For="@(() => newJob.Company)" />
                </div>
                <div class="mb-3">
                    <label for="url" class="form-label">URL</label>
                    <InputText id="url" @bind-Value="newJob.URL" class="form-control" />
                    <ValidationMessage For="@(() => newJob.URL)" />
                </div>
                <div class="mb-3">
                    <label for="type" class="form-label">Stellentyp</label>
                    <InputSelect id="type" @bind-Value="newJob.Type" class="form-select">
                        @foreach (var jobType in jobTypes)
                        {
                            <option value="@jobType">@jobType</option>
                        }
                    </InputSelect>
                </div>
                <button type="submit" class="btn btn-success">Add Job</button>
                <button type="button" class="btn btn-secondary" @onclick="ToggleForm">Hide form</button>
            </EditForm>
        </div>
    </div>
}

@code {
    private bool showForm = false;
    private JobApplication newJob = new();
    private List<string> jobTypes = new();

    [Parameter]
    public EventCallback OnJobAdded { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var jobAppContents = await JsonService.GetAllJobAppContentsAsync();
        jobTypes = jobAppContents.Select(jac => jac.Name).ToList();
    }

    private void ToggleForm()
    {
        showForm = !showForm;
        if (!showForm)
        {
            newJob = new JobApplication();
        }
    }

    private async Task HandleValidSubmit()
    {
        newJob.Id = Guid.NewGuid();
        await JsonService.AddAsFirstAsync(newJob);
        await OnJobAdded.InvokeAsync();
        newJob = new JobApplication();
    }
}