@inherits HomeEditBase

<td class="text-center text-wrap">
    @if (IsEditingPosition)
    {
        <input @ref="positionInput"
               @bind="EditedPosition"
               @bind:event="oninput"
               @onfocusout="UpdatePosition"
               @onkeydown="HandleKeyDown"
        @onclick:stopPropagation
               style="width:100%" />
    }
    else
    {
        <span @onclick="StartEditingPosition">@Job.Position</span>
    }
</td>
<td class="text-center text-wrap">
    @if (IsEditingCompany)
    {
        <input @ref="companyInput"
               @bind="EditedCompany"
               @bind:event="oninput"
               @onfocusout="UpdateCompany"
               @onkeydown="HandleKeyDown"
        @onclick:stopPropagation
               style="width:100%" />
    }
    else
    {
        <span @onclick="StartEditingCompany">@Job.Company</span>
    }
</td>
<td class="text-center text-wrap">
    <select @bind="EditedType" @onclick:stopPropagation>
        @foreach (var content in JobAppContents)
        {
            <option value="@content.Name" selected="@(content.Name == Job.Type)">@content.Name</option>
        }
    </select>
</td>